<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p: %c - %m%n</pattern>
        </encoder>
    </appender>

    <!-- logger name="org.springframework" level="DEBUG"/-->

    <logger name="pe.com.inventarios.controller.ActivoController" level="FINE"/>
    <logger name="pe.com.inventarios.controller.GeneralController" level="DEBUG"/>
    
    <logger name="pe.com.inventarios.*" level="FINE"/>

    <logger name="org.springframework.web.*" level="FINE"/>
    <!-- <logger name="org.springframework.security" level="FINE"/> -->
    <logger name="org.springframework.security" level="FINE"/>
    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="FINE"/>
    <logger name="org.hibernate.jpa.internal.util.LogHelper" level="FINE"/>
    <logger name="org.hsqldb.jdbc" level="FINE"/>

</configuration>
